
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-around;
    color: #F9FAF8;
    background-color: #1F2937;
    padding-top: 10px;
}

    .Title {
        font-size: 24px;
        font-weight: 600;
    }

    .links {
        font-size: 18px;
        display: inline;
        margin: 0 10px;
        color: #F9FAF8;
    }
    
    .section1 {
        color: #F9FAF8;
        background-color: #1F2937;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex: 1;
        gap: 40px;
    }

    .hero,
    .heroImg {
        flex: 1;
        max-width: 320px;
    }
        
    .hero button {
        background-color: #3882F6;
        color: #F9FAF8;
        font-weight: 550;
        padding: 5px 20px;
        border-radius: 5px;
        border-width: 0;
        margin-top: 10px;
    }

    .hero button:active {
    background-color: #F9FAF8;
    color: #3882F6
}

    .heroImg {
        display: flex;
        width: 300px; 
        height: 200px;
        justify-content: center;
    }

    .section2 h2 {
        font-size: 36px;
        color: #1F2937;
        font-weight: 900;
    }

    .section2 {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
.container{
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    justify-content: center;

}

.figure {
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #4f5052;

}

.img-card {
    display: flex;
    flex: 1 1 150px;
    justify-content: center;
    border: 3px solid #3882F6 ;
    border-radius: 10px;
    padding: 5px;
    max-width: 175px;
}

.img-card img {
    max-width: 100%;
    height: auto;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
   
}

    .name {
        font-weight: 900;
        font-size: 18px;
        width: fit-content;
        margin-left: auto;
    }

    .pcontainer {
    color: #1F2937;
    font-weight: 200;
    font-size: 28px;
    max-width: 60vw;
    }

.section4 {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px;
    
}

.callToAction {
    background-color: #3882F6;
    padding: 20px 5px;
    border-radius: 10px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 700px;
}

    .mainText {
        font-size: 24px;
    }

.callToAction button {
    background-color: transparent;
    color: #F9FAF8;
    font-weight: 550;
    padding: 5px 20px;
    border-radius: 5px;
    border-color: #E5E7EB;
    border-style: solid ;
}

.callToAction button:active {
    background-color: #F9FAF8;
    color: #3882F6
}


    


    














